div{    
     background-color: blue;
     width: 60px;
     height: 60px;
     display:inline; 
     /* Con esta funcion el contenedor div obtiene un comportamiento "En linea"*/
}


p{
     background-color: rgb(204, 0, 255);
     width: 60px;
     height: 60px;
     display:inline-block;
     /*Con esta funcion el parrafo obtiene un comportamiento mixto entre block y inline*/
}

a{
     background-color: rgb(0, 204, 255);
     width:60px;
     height: 60px;
     display: block;
     /* Con esta funcion la "a" obtiene un cuerpo [block] */
}

/* Los divs desaparecen porque al colocarle comportamiento en línea ya no aceptan ancho y alto, 
los elementos tienen cuerpo porque les cambiamos la propiedad a bloque, y los elementos p, toman 
lo mejor de ambos casos, se comportan como un elemento en línea */